In [3]:
import numpy as np
import pandas as pd
import os
from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split
from collections import Counter

def generate_df(names):
    df_list = []
    prefix = 'entry'
    for suffix in range(11):
        filename = prefix + to_str(suffix)
        file_dir = os.path.join(data_dir, filename)
        if os.path.exists(file_dir):
            print(file_dir)
            df = pd.read_csv(file_dir, names=names)
            df_list.append(df)
    data = pd.concat(df_list)
    return data

def to_str(n):
    if n < 10:
        num = '0' + str(n) 
    else:
        num = str(n)
    return num

data_dir = '/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore'
entry = 'entry12'
full_index = np.array([0, 59, 94, 95, 84, 161, 44, 179, 82, 112, 58, 248])
classes = ['WWW', 'MAIL', 'FTP-CONTROL', 'FTP-PASV', 'ATTACK', 'P2P', 'DATABASE', 'FTP-DATA', 'MULTIMEDIA', 'SERVICES',
           'INTERACTIVE', 'GAMES']
after_classes = ['WWW', 'MAIL', 'FTP-CONTROL', 'FTP-PASV', 'P2P', 'DATABASE', 'FTP-DATA', 'SERVICES',
           'INTERACTIVE']
after_file = os.path.join(data_dir, entry)
names = [x for x in range(249)]

In [4]:
df = generate_df(names)
data = df[full_index].values

df = pd.DataFrame(data)
df.head()

/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry01

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (68,69,72,73,98,99,100,101,109,110,111,208,224,225,226,227,234,235,236,237,242,243,244,245,246,247) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry02

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (68,69,72,73,98,99,100,101,109,110,111,224,225,226,227,234,235,236,237,242,243,244,245,246,247) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry03
/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry04
/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry05

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (98,99,100,101,109,110,111,224,225,226,227,234,235,236,237,242,243,244,245,246,247) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry06

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (68,69,98,100,109,110,111,224,225,226,227,234,235,236,237,242,243,244,245,246,247) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry07
/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry08
/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry09
/Users/Yoyo/Desktop/Graduation/ML_test/dataset/Moore/entry10

   0  1    2    3    4   5  6       7    8  9  10   11
0  80  1  319  140  318  40  1  3591.2  319  3  1  WWW
1  80  1  319  141  318  40  1    3645  319  3  1  WWW
2  80  1  322  141  321  40  1    3645  322  3  1  WWW
3  80  1  319  142  318  40  1  3699.2  319  3  1  WWW
4  80  1  325  141  324  40  1    3645  325  3  1  WWW

In [5]:
csv_path = os.path.join(data_dir, 'fusion_csv')

In [7]:
df.to_csv(csv_path, index=False, header=False)